.title{
    color: blue;
    font-size: 28;

}

#Tomato{ 
    background-color: tomato ;
}

#orange{
    background-color: orange;
}

#dodgerBlue{
    background-color: dodgerblue;
}

#MediumSeaGreen{
    background-color: mediumseagreen;
}

#Gray{
    background-color: gray;
}

#SlateBlue{
    background-color: slateblue;
}

#Violet{
    background-color: violet;
}

#LightGray{
    background-color: lightgray;
}